.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container .mat-drawer {
  padding-left: 20px;
  padding-left: 20px;
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width:100%;
  text-align: left;
}

.spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
